$transition-duration: 0.3s;
$easing-function: ease-in-out;

@mixin shadow-on-hover {
    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: box-shadow $transition-duration $easing-function;
    }
}

@mixin darken-background-on-hover($color) {
    &:hover {
        background-color: darken($color, 10%);
        transition: background-color $transition-duration $easing-function;
    }
}